# Auto detect text files and perform LF normalization
* text=auto
Build4.csv filter=lfs diff=lfs merge=lfs -text
Build4.psd filter=lfs diff=lfs merge=lfs -text
.psd filter=lfs diff=lfs merge=lfs -text
.asset filter=lfs diff=lfs merge=lfs -text
Unity.ShaderGraph.Editor.csproj filter=lfs diff=lfs merge=lfs -text
.csproj filter=lfs diff=lfs merge=lfs -text
TerrainData_8b0588c8-967a-4843-9e8e-90d2cd09ad2a.asset filter=lfs diff=lfs merge=lfs -text
